#principal{

	background-image: url('../fotos/Estacionamientos.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-position: center;
}

#login{
	background-color: rgb(170, 270, 5);
	text-align: center;
	margin-left: 500px;
	border:1px solid #998999;
	width: 260px;
	box-shadow: 10px 10px 5px #888888;
}

 .boton{
	background-color: rgb(10, 230,  90);
}

#patenteTH{

	font-size: 20px;
	font-style: oblique;
	background-color: rgb(20, 100, 300);
	box-shadow: 20px 5px  50px;

}

.ocultar{
	display: none;
}

#ingresoTH{
	font-size: 20px;
	font-style: oblique;
	background-color: rgb(20, 100, 300);
	box-shadow: 20px 5px  50px;
}


#cobro{

	background-color:#58FAD0;
        vertical-align: top;
	text-align: center;
	font-size: 20px;
	display: none;
}

#alta{
	background-color: #B40431;
	text-align: center;
	color: white;
	font-style: oblique;
}

/*#usuario{
	background-position: center;
	background-color: #F05331;
	border-style: dashed;
	border-color: red;

}*/

.claseP{
	color: red; /*rgb(0, 0,0);*/
	margin-top: 60px;
	text-align: center;
	font-size: 20px;	
}

#deslogin{

	vertical-align: text-bottom;
	border-style: hidden;
	padding-right: 50px;
	padding-left: 50px;
}

#usuario{

}

footer{

	position: absolute;
	/*padding-left: 1050px;
	vertical-align: bottom;
        horizontal-align: left;*/
        margin-left:0px; margin-right:auto;
}


#git{
    color: #BB290B;
    background-color: rgb(120, 300, 200);
    border-style:dashed;
    text-align:center;
 
    height: 80px;
    width: 900px;  
    margin: 15px;

}

#msg{
    
	color: black;
	font-variant: small-caps;
}

													